<div class="container">
    <h1 style="text-align:center">Hakkımızda</h1>
    <hr>
    <h3 style="text-align:left">D&R Marka Vizyonu</h3>
    <p>İnsanların zihnen özgürleşmesinin ve kişisel gelişimlerinin en büyük destekçisi olarak en çok sevilen ve tercih edilen deneyim markası olmak.</p>
    <h3 style="text-align:left">D&R Marka Misyonu</h3>
    <p>Sınırları kaldıran, özgürleştiren, destekleyen ve cesaretlendiren platform olmak.</p>
    <h3 style="text-align:left">Tarihçe</h3>
    <p>
        D&R, ilk mağazasını 1997 yılının Mayıs ayında Erenköy'de açtı. Nisan 2019 tarihi itibariyle Türkiye genelinde 50 ilde 205 mağazasında D&R herkes için bir keşif dünyası sunuyor. Kitaptan müziğe, filmden elektronik ürünlere, oyundan hobiye, hediyelik eşyadan kırtasiyeye kadar geniş bir yelpazede eğlence ve kültür ürünleriyle ziyaretçilerini buluşturan D&R, okuyan ve dinleyen bir Türk toplumunun oluşumuna katkıda bulunuyor. Gün geçtikçe sayısı artan mağazalarının yanı sıra D&R, www.dr.com.tr ile de kültür-eğlence dünyasının yeniliklerini ve müşterilerin tercih ve beklentilerine göre seçtiği ürün ve markaları Türkiye’nin her yerindeki müşterilerine rahat ve keyifli bir alışveriş deneyimiyle ulaştırıyor.
    </p>

</div>
<br>
<br>
<div class="container">
    <div class="row">

        <div class="row col-4 ml-2 m-10 ">
            <div class="card border-secondary  " style="width: 350px;height: 220px">
                <div class="card-header">D&R Genel Müdürlük</div>
                <div class="card-body text-secondary">

                    <p class="card-text">
                        Turkuvaz Müzik Kitap Mağ. Paz. AŞ. Trump Towers Mecidiyeköy Yolu Caddesi No: 12 K: 30 - 31 - 32 Mecidiyeköy / İstanbul
                        T: +90 (212) 997 0000
                        F: +90 (212) 997 0191 - 93 - 94

                        Mersis No: 0-3060-3447-6400052
                        KEP Adresi: turkuvazmuzikkitap@hs02.kep.tr
                    </p>
                </div>
            </div>

        </div>


        <div class="row col-4 ml-2 m-10 ">
            <div class="card border-secondary mb-5 " style="width: 350px;height: 220px">
                <div class="card-header">D&R Depo</div>
                <div class="card-body text-secondary">

                    <p class="card-text">
                        Turkuvaz Müzik Kitap Mağ. Paz. AŞ. Başakşehir İkitelli Organize Sanayi Bölgesi Atatürk Bulvarı No:58 Altay İş Merkezi 2. Bodrum Kat İstanbul
                        T: +90 (212) 671 2709
                        F: +90 (212) 671 2719
                    </p>
                </div>
            </div>

        </div>


        <div class="row col-4 ml-3 m-10 ">
            <div class="card border-secondary  " style="width: 350px;height: 220px">
                <div class="card-header">D&R İnsan Kaynakları</div>
                <div class="card-body text-secondary">

                    <p class="card-text">
                        T: +90 (212) 997 0000
                    </p>
                </div>
            </div>

        </div>
    </div>
