<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")" class="text-dark">ANASAYFA</a></li>
        <li class="breadcrumb-item active" aria-current="page">Film</li>
    </ol>
</nav>
<br>
<div class="alert alert-dark" role="alert">
    <div class="container">

        <div class="row">
            <div class="col ">

            </div>
            <div class="col-12 mr-15">
                <h2 style="text-align:center">Film</h2>
            </div>

        </div>
    </div>

</div>

<div class="row my-2">
    <div class="col-12">

        <div class="row">

            <div class="col-2">
                <div class="card d-block" style="height:680px">
                    <img src="/images/impossible.jpg" class="card-img-top" alt="görevimiz tehlike">
                    <div class="card-body">

                        <p class="card-text" style="text-align: center">Mission Impossible: Falll Out - Mission Impossible: Yansımalar</p>

                        <hr>
                    </div>

                    <p style="text-align: center">Christopher McQuarrie</p>
                    <br>
                    <p style="position:absolute;right:80px;color: #007FFF">DVD</p>
                    <br>
                    <p style="text-align: center">Paramount Pictures</p>
                    <br>

                    <div class="alert alert-dark" role="alert">
                        <h5 style="text-align: center">33,99 TL</h5>
                    </div>

                </div>

            </div>
            <div class="col-2">
                <div class="card d-block" style="height:680px">
                    <img src="/images/impossible.jpg" class="card-img-top" alt="görevimiz tehlike">
                    <div class="card-body">

                        <p class="card-text" style="text-align: center">Mission Impossible: Falll Out - Mission Impossible: Yansımalar</p>

                        <hr>
                    </div>

                    <p style="text-align: center">Christopher McQuarrie</p>
                    <br>
                    <p style="position:absolute;right:80px;color: #007FFF">DVD</p>
                    <br>
                    <p style="text-align: center">Paramount Pictures</p>
                    <br>

                    <div class="alert alert-dark" role="alert">
                        <h5 style="text-align: center">33,99 TL</h5>
                    </div>

                </div>

            </div><div class="col-2">
                <div class="card d-block" style="height:680px">
                    <img src="/images/impossible.jpg" class="card-img-top" alt="görevimiz tehlike">
                    <div class="card-body">

                        <p class="card-text" style="text-align: center">Mission Impossible: Falll Out - Mission Impossible: Yansımalar</p>

                        <hr>
                    </div>

                    <p style="text-align: center">Christopher McQuarrie</p>
                    <br>
                    <p style="position:absolute;right:80px;color: #007FFF">DVD</p>
                    <br>
                    <p style="text-align: center">Paramount Pictures</p>
                    <br>

                    <div class="alert alert-dark" role="alert">
                        <h5 style="text-align: center">33,99 TL</h5>
                    </div>

                </div>

            </div><div class="col-2">
                <div class="card d-block" style="height:680px">
                    <img src="/images/impossible.jpg" class="card-img-top" alt="görevimiz tehlike">
                    <div class="card-body">

                        <p class="card-text" style="text-align: center">Mission Impossible: Falll Out - Mission Impossible: Yansımalar</p>

                        <hr>
                    </div>

                    <p style="text-align: center">Christopher McQuarrie</p>
                    <br>
                    <p style="position:absolute;right:80px;color: #007FFF">DVD</p>
                    <br>
                    <p style="text-align: center">Paramount Pictures</p>
                    <br>

                    <div class="alert alert-dark" role="alert">
                        <h5 style="text-align: center">33,99 TL</h5>
                    </div>

                </div>

            </div><div class="col-2">
                <div class="card d-block" style="height:680px">
                    <img src="/images/impossible.jpg" class="card-img-top" alt="görevimiz tehlike">
                    <div class="card-body">

                        <p class="card-text" style="text-align: center">Mission Impossible: Falll Out - Mission Impossible: Yansımalar</p>

                        <hr>
                    </div>

                    <p style="text-align: center">Christopher McQuarrie</p>
                    <br>
                    <p style="position:absolute;right:80px;color: #007FFF">DVD</p>
                    <br>
                    <p style="text-align: center">Paramount Pictures</p>
                    <br>

                    <div class="alert alert-dark" role="alert">
                        <h5 style="text-align: center">33,99 TL</h5>
                    </div>

                </div>

            </div><div class="col-2">
                <div class="card d-block" style="height:680px">
                    <img src="/images/impossible.jpg" class="card-img-top" alt="görevimiz tehlike">
                    <div class="card-body">

                        <p class="card-text" style="text-align: center">Mission Impossible: Falll Out - Mission Impossible: Yansımalar</p>

                        <hr>
                    </div>

                    <p style="text-align: center">Christopher McQuarrie</p>
                    <br>
                    <p style="position:absolute;right:80px;color: #007FFF">DVD</p>
                    <br>
                    <p style="text-align: center">Paramount Pictures</p>
                    <br>

                    <div class="alert alert-dark" role="alert">
                        <h5 style="text-align: center">33,99 TL</h5>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>




