<p>
    <h7>
        D&R İNTERNET SİTESİ AYDINLATMA METNİ

    </h7>

<p>
    Turkuvaz Müzik Kitap Mağazacılık Pazarlama A.Ş. (“Veri sorumlusu”, “D&R”) olarak; 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”, “KVKK”) ve ilgili mevzuat uyarınca kişisel verilerinizi işliyor, aynı zamanda kanunlarda öngörülen teknik ve idari tedbirleri alarak bu verilerinizin korunması için elimizden gelen tüm çabayı gösteriyoruz. Bu metin ile kişisel verilerinizin işlenme süreçleri hakkında sizleri detaylıca bilgilendirmek istiyoruz.

    Bu kapsamda, D&R, gerekli olan tüm teknik ve idari tedbirleri almak suretiyle kişisel verilerinizi; Türkiye Cumhuriyeti Anayasası, ülkemizin taraf olduğu uluslararası sözleşmeler ve KVKK başta olmak üzere, kişisel verilerin korunması ile ilgili tüm mevzuatın öngördüğü sınırlar çerçevesinde, KVKK’nın 4. maddesinde yer alan;
</p>

<ul style="list-style: none">
    <li> • Hukuka ve dürüstlük kurallarına uygun olma,</li>
    <li> • Doğru ve gerektiğinde güncel olma,</li>
    <li>• Belirli, açık ve meşru amaçlar için işlenme,</li>
    <li>  • İşleme amaçlarıyla bağlantılı, sınırlı ve ölçülü olma,</li>
    <li> • İlgili mevzuatta öngörülen veya işlendikleri amaç için gerekli olan süre kadar muhafaza edilme  ilkelerine uygun olarak işleyecektir. </li>
</ul>




<h7>
    1. KİŞİSEL VERİLERİNİZİN İŞLENME AMAÇLARI

</h7>



<p> www.dr.com.tr internet sitesine üye olmadan gerçekleştireceğiniz ziyaretiniz kapsamında işlenecek olan kişisel verileriniz;</p>
<ul style="list-style: none">
    <li> • ‘Bize Yazın’ sekmesi aracılığıyla bizimle iletişime geçmeniz halinde, Kimlik verisi kategorisinde değerlendirilen; adınız ve soyadınız, İletişim verisi kategorisinde değerlendirilen; e-posta adresiniz ve Diğer bilgiler kategorisinde değerlendirilen; konu başlığınız ve yorum içeriğiniz, iş süreçlerinin iyileştirilmesine yönelik önerilerin alınması ve değerlendirilmesi, müşteri ilişkileri yönetimi süreçlerinin yürütülmesi, iletişim faaliyetlerinin yürütülmesi ve talep ve şikayetlerin takibi doğrultusunda ziyaretçilerimiz arasında ad ve soyadınız ile ayırt edilebilmeniz, talepleriniz ve şikayetleriniz ile ilgili konularda sizinle iletişime geçilebilmesi ile memnuniyetinizin sağlanması, şikayet ve talepleriniz doğrultusunda sunduğumuz hizmete ilişkin iş süreçlerinin iyileştirilmesine yönelik önerilerin alınması ve değerlendirilmesi,</li>
    <li> • İşlem güvenliği verisi kategorisinde değerlendirilen; internet sitesi giriş-çıkış saatiniz, IP adresiniz, faaliyetlerin ilgili mevzuata uygun yürütülmesi doğrultusunda 5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun ve ilgili mevzuatında açıkça öngörüldüğü üzere trafik kayıtlarını tutma yükümlülüğümüzün yerine getirilebilmesi,</li>
    <li> • Pazarlama verisi kategorisinde değerlendirilen kullandığımız çerezler vasıtasıyla elde ettiğimiz bilgileriniz, iş süreçlerinin iyileştirilmesine yönelik önerilerin alınması ve değerlendirilmesi, pazarlama analiz çalışmalarının yürütülmesi, ürün veya hizmet pazarlama süreçlerinin yürütülmesi doğrultusunda internet sitesinin daha etkili, kolay ve hızlı kullanılmasının sağlanması, site hizmet ve faaliyetlerinin ihtiyaçlarınız doğrultusunda kişiselleştirilmesi, internet kullanımınız sırasında elde edilen bilgiler vasıtasıyla size daha uygun hizmet ve teklif sunabilmesinin sağlanması, </li>
    <li>
        • Müşteri işlem verisi kategorisinde değerlendirilen; içerik arama ve sepete eklediğiniz ürün bilginiz, pazarlama analiz çalışmalarının yürütülmesi, ürün veya hizmet pazarlama süreçlerinin yürütülmesi doğrultusunda ilgi ve beğenilerinize yönelik olarak tarafınıza yapılacak olan pazarlama faaliyetleri kapsamında profilleme yapılabilmesi, ilgi ve beğenilerinize uygun olan ürünlere ait indirim ve kampanyaların tarafınıza iletilebilmesi

        amaçları ile işlenecektir.
    </li>

</ul>






<p> D&R çağrı merkezi aracılığıyla iletişim kumanız sonucunda işlenecek olan kişisel verilerinize ilişkin aydınlatma metnini aramanızın başında size iletilecektir.</p>

<h7> 2. KİŞİSEL VERİLERİNİZİN TOPLANMASININ YÖNTEMİ VE HUKUKİ SEBEBİ</h7>

<p> Kişisel verileriniz; tamamen veya kısmen otomatik olan yollarla,</p>
<ul style="list-style: none">
    <li>
        • D&R internet sitesini ziyaretiniz ile ve ziyaretiniz sırasında gerçekleştirdiğiniz işlemler,
    </li>
    <li> • Çerezler,</li>
    <li>     • “Bize Yazın” bölümünde bulunan formu doldurmanız, aracılığıyla toplanmaktadır. İşlenme amaçları ve elde edilme yöntemleri tarafınıza sunulan kişisel verileriniz, KVKK’nın 5. maddesinde belirtilen;</li>
    <li>   • D&R’ın hukuki yükümlülüğünü yerine getirebilmesi için kişisel veri işlemesinin zorunlu olması,</li>
    <li>
        • Temel hak ve özgürlüklerinize zarar vermemek kaydıyla, D&R’ın meşru menfaatleri için kişisel verilerinizi işlemenin zorunlu olması

        hukuki sebebine dayanılarak işlenebilecektir.
    </li>
</ul>








<h7> 3. KİŞİSEL VERİLERİNİZİN AKTARILMASI</h7>

<p> Kişisel verileriniz;</p>
<ul style="list-style: none">
    <li>  • Avukatlar, denetçiler, vergi danışmanları ile danışmanlık ve hizmet aldığımız diğer üçüncü kişilere; iş süreçlerimizi hukuka ve meşru menfaatlerimize uygun olarak yürütebilmemiz, olası bir yargı sürecinde savunma hakkımızı kullanabilmemiz,</li>
    <li>   • Tarafınızca yetki verilmiş olan vekil ve temsilcilerinize; hukuki yükümlülüklerimizi yerine getirebilmemiz,</li>
    <li>• Düzenleyici ve denetleyici kurumlar ile mahkeme ve icra müdürlükleri gibi sair resmî kurumlar ve kişisel verilerinizi talep etmeye yetkili olan diğer kamu kurum veya kuruluşlarına; hukuki yükümlülüklerimizi yerine getirebilmemiz,</li>
    <li> • Hizmet aldığımız iş ortaklarımız, ifa yardımcılarımıza hizmetlerimizin geliştirilebilmesi, altyapı ve güvenlik süreçlerinin geliştirilebilmesi amaçları ile KVKK’nın 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilecektir. </li>

</ul>




<h7> 4. KİŞİSEL VERİLERİNİZİN KORUNMASINA YÖNELİK HAKLARINIZ</h7>

<p> Kişisel verilerinizle ilgili olarak; </p>

<p>a. Kişisel veri işlenip işlenmediğini öğrenme,</p>
<p>b. Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</p>
<p> c. Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</p>
<p>ç. Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</p>
<p> d. Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,</p>
<p> e. 7. maddede öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme,</p>
<p> f. (d) ve (e) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</p>
<p>  g. İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</p>
<p>
    ğ. Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme

    haklarına sahipsiniz.
</p>


<p>
    Belirtilen haklarınız kapsamında taleplerinizi, iadeli taahhütlü mektup aracılığıyla veya şahsen veya noter aracılığıyla yazılı olarak veya kayıtlı elektronik posta (KEP) adresi, güvenli elektronik imza, mobil imza ya da daha önce bize bildirdiğiniz ve sistemimizde kayıtlı bulunan elektronik posta adresiniz var ise elektronik posta adresinizi kullanmak suretiyle bize ulaşarak iletebilirsiniz.

    Başvurunuz KVKK'da öngörülen ilgili hükümler doğrultusunda cevaplandırılacak olup başvuru sahibinin, ilgili kişi olduğunun teyit edilmesi amacıyla D&R sizden bazı doğrulayıcı bilgiler talep edebilecektir; bu bilgiler yalnızca ilgili kişinin kimliğinin tespit edilmesi ve başvuru sonuçlarının doğru kişiyle paylaşılması adına talep edilecektir.
</p>

         </p>